         html {

    background-color: rgb(126, 108, 86);
        }
        
        header {
            grid-area: header;
            background-color: rgb(126, 108, 85);
        }

        nav {
            grid-area: nav;
            background-color: rgb(126, 108, 86);
        }

        main {
            grid-area: main;
            background-color: #a38e6d;
        }

        aside {
            grid-area: aside;
            background-color: rgb(175, 151, 127);
        }

        footer {
            grid-area: footer;
            background-color:  rgb(148, 146, 109);
        }
        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav footer footer footer footer';
            grid-gap: .5em;
           
        }


        ul li {
            list-style-type: none;
        }


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
            
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
               
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }